@page "/"

<PageTitle>Construct Planner</PageTitle>

<div class="flex flex-col items-center justify-center h-[65vh] gap-y-20">
    <a href="/Obras" class="w-[250px] text-center lg:text-2xl md:text-3xl text-slate-200 no-underline hover:text-white hover:drop-shadow-[0_0px_5px_rgba(242,242,242,0.25)] p-4 bg-neutral hover:bg-base-200 rounded-xl font-bold">Iniciar</a>
    <a href="/Informacoes" class="w-[250px] text-center lg:text-2xl md:text-3xl text-slate-200 no-underline hover:text-white hover:drop-shadow-[0_0px_5px_rgba(242,242,242,0.25)] p-4 bg-neutral hover:bg-base-200 rounded-xl font-bold">Informações</a>
</div>